* {
	box-sizing: border-box;
	font-family: Tahoma;
}

body {
	background-color: #bbffff;
	margin: 0;
	padding: 0;
}

header {
	background-color: #bbffff;
	padding: 10px;
	text-align: left;
}

header.h2 {
	font-variant-caps: small-caps;
}

ul.topnav {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 5px;
	color: #ffffff;
	background-color: #004080;
	justify-content: left;
}

ul.topnav li button {
	display: block;
	color: #ffffff;
	background-color: #004080;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #bbffff;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
}

ul.topnav li button:hover {
	color: #004080;
	background-color: #bbffff;
}

ul.topnav li a:link {
	text-decoration: none;
}

dummy {
	color: color: #ffffcc;
	background-color: #806040;
}