* {
	box-sizing: border-box;
	font-family: Georgia;
}

body {
	background-color: #bbffff;
	margin: 0;
	padding: 0;
}

header {
	color: #004080;
	padding: 10px;
	margin: 0px 10px;
	text-align: left;
}

header h2 {
	font-variant-caps: small-caps;
}

.navbar {
	background-color: #004080;
	justify-content: left;
}

ul.topnav {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0px 15px;
	padding: 5px;
	color: #ffffff;

}

ul.topnav li button {
	display: block;
	color: #ffffff;
	background-color: #004080;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;
	cursor: pointer;
}

ul.topnav li button:hover {
	color: #004080;
	background-color: #bbffff;
}

ul.topnav li a:link {
	text-decoration: none;
}

img.center {
	display: block;
	margin: 10px;
	padding: 10px;
	width: 500px;
	max-width: 97%;
	height: auto;
}

div.mainbody {
	display: block;
	margin: 10px 10px;
	padding: 10px;
	width: 800px;
	max-width: 97%;
	height: auto;
}

div.mainbody h2 {
	color: #004080;
	text-align: left;
}

div.mainbody p {
	line-height: 1.5;
	font-size: medium;
}

dummy {
	color: color: #ffffcc;
	background-color: #806040;
}