* {
	box-sizing: border-box;
	/* font-family: Tahoma; Save this for the full Colonial Poqom website */
}

body {
	background-color: #f0e8d0;
}

header {
	color: #8c5f26;
}

footer {
	color: #8c5f26;
}

.navbar {
	color: black;
	background-color: #d6a867;
}

ul.topnav {
	background-color: #d6a867;
}

ul.topnav li button {
	color: black;
	background-color: #d6a867;
	border-color: black;
}

ul.topnav li button:hover {
	color: black;
	background-color: #f0e8d0;
}

ul.topnav li a:link {
}

footer {
	color: black;
	background-color: #d6a867;
}

div.mainbody h1, h2, h3 {
	color: #8c5f26;
	text-align: left;
}

article {
	border-color: #d6a867;
}