* {
	box-sizing: border-box;
	font-family: Georgia;
}

body {
	background-color: #bbffff;
	margin: 0;
	padding: 0;
}

header {
	color: #004080;
	padding: 10px;
	margin: 0px 10px;
	text-align: left;
}

header h2 {
	font-variant-caps: small-caps;
}

.navbar {
	/* position: sticky;
	top: 0; */
	background-color: #004080;
	justify-content: left;
}

ul.topnav {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	margin: 0px 15px;
	padding: 5px;
	color: #ffffff;

}

ul.topnav li button {
	display: block;
	color: #ffffff;
	background-color: #004080;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #ffffff;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
	white-space: nowrap;
	cursor: pointer;
}

ul.topnav li button:hover {
	color: #004080;
	background-color: #bbffff;
}

ul.topnav li a:link {
	text-decoration: none;
}

/*	To make this work I need a containing div for the footer
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	background-color: #004080;
	text-align: left;
}

.footer {
	margin: 0px 10px;
	padding: 10px;
}

.footer a:link {
	color: #ffffff;
}
*/

img.center {
	display: block;
	margin: 10px;
	padding: 10px;
	width: 500px;
	max-width: 97%;
	height: auto;
}

div.mainbody {
	display: block;
	margin: 10px 10px;
	padding: 10px;
	width: 750px;
	max-width: 97%;
	height: auto;
}

div.mainbody h1, h2, h3 {
	color: #004080;
	text-align: left;
}

div.mainbody h3 {
	font-weight: normal;
}

div.mainbody p {
	line-height: 1.5;
	font-size: medium;
}

div.mainbody p.imgcred {
	font-size: smaller;
	font-style: italic;
}

div.mainbody ul li {
	margin: 12px 0px;
	line-height: 1.5;
}

.dates {
	font-weight: bold;
	color: #004080;
}

iframe.pdf {
	margin: 20px 20px;
	width: 1000px;
	max-width: 97%;
	height: 500px;
}

article {
	border-style: solid;
	border-width: 1px;
	border-color: #004080;
	padding: 5px;
}

dummy {
	color: color: #ffffcc;
	background-color: #806040;
}