body {
	background-color: #bbffff;
	margin: 0;
	padding: 0;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: #ffffff;
	background-color: #004080;
	text-align: left;
}

.footer {
	margin: 0px 10px;
	padding: 10px;
	color: #ffffff;
}